<dialog open>
	<header>
		<button (click)="closeClick()">x</button>
	</header>
	
	<h3>{{title}}</h3>
	
	<form #fmr="ngForm">
		<div>
			<label>Name/Tag</label>
			<input type="text" [(ngModel)]="model.name" name="name" placeholder="Type tag name..."/>			
		</div>
		<div>
			<label>Color</label>
			<input type="color" [(ngModel)]="model.color" name="color" />			
		</div>
	</form>

	<div class="footer">
		<button (click)="closeClick()">Cancel</button>
		<button (click)="saveClick()">Save</button>
	</div>
</dialog>