<div class="pager">
	<span>Total items: <b>{{ pager?.totalRows }}</b></span>
	<span>Items per page: <b>{{ pager?.rowsPerPage }}</b></span>

	<select (change)="changed($event)">
		<option *ngFor="let v of options" 
			[value]="v" 
			[selected]="pager?.rowsPerPage === v">{{ v }}
		</option>
	</select>

	&nbsp;

	<button 
		(click)="prevClick()" 
		[disabled]="!pager || 1 === pager.currentPage"
	>
		&lt;&lt;Prev
	</button>

	Page: <b>{{ pager?.currentPage }}</b> of {{ pager?.lastPage }}

	<button 
		(click)="nextClick()" 
		[disabled]="!pager || pager.currentPage === pager.lastPage"
	>
		Next &gt;&gt;
	</button>
</div>