<div class="pager">
	<label>Total items: <b>{{ pager?.totalRows }}</b></label>
	<label>Items per page: <b>{{ pager?.rowsPerPage }}</b></label>

	<select (change)="changed($event)">
		<option *ngFor="let v of options" 
			[value]="v" 
			[selected]="pager?.rowsPerPage == v">{{ v }}
		</option>
	</select>

	&nbsp;

	<button (click)="prevClick()" [disabled]="!pager || 1 == pager.currentPage">&lt;&lt;Prev</button>
	Page: <b>{{ pager?.currentPage }}</b> of {{ pager?.lastPage }}
	<button (click)="nextClick()" [disabled]="!pager || pager.currentPage == pager.lastPage">Next &gt;&gt;</button>
</div>