<table>
	<thead>
		<tr>
			<th>Color</th>
			<th>Name</th>
			<th>Create Date</th>
			<th>Last Update</th>
			<th>Created By</th>
		</tr>
	</thead>
	<tbody *ngIf="items">
		<tr *ngFor="let item of items" (dblclick)="rowDoubleClick(item)">
			<td>
				<div class="color-button" [ngStyle]="{'background-color': item.color}">&nbsp;</div>
			</td>
			<td>{{item.name}}</td>
			<td>{{item.created_at | date: 'shortDate'}}</td>
			<td>{{item.updated_at | date: 'shortDate'}}</td>
			<td>{{item.created_by}}</td>
		</tr>
	</tbody>
</table>