<header>
	<div class="top-top">
		<span class="col-left">
			<h3>Management Tool</h3>
		</span>
		<span class="col-right">
			<button (click)="viewClick('list')" [ngClass]="{ 'selected': 'list' === view }">
				List View
			</button>
			<button (click)="viewClick('tiles')" [ngClass]="{ 'selected': 'tiles' === view }">
				Tail View
			</button>
			<button (click)="addNewClick()" [disabled]="loading || (selectedItem$ | async)">
				Add New
			</button>
		</span>
	</div>

	<input 
		type="text" 
		placeholder="Find by name..." 
		(input)="filterInput($event)" 
		[value]="filter$ | async" 
	/>
</header>

<div class="content">	
	<app-loader *ngIf="loading"></app-loader>	

	<app-noir-items-form 
		[item]="selectedItem$ | async" 
		(saveClicked)="saveItem($event)"
	>
	</app-noir-items-form>
	
	<app-noir-items-view></app-noir-items-view>
</div>

<footer> 	
	<app-pager
		*ngIf="!loading" 
		[pager]="pager$ | async" 
		[options]="[4, 5, 10, 20]" 
		(nextPageClick)="nextPageClick()"
		(prevPageClick)="prevPageClick()" 
		(rowsPerPageChanged)="rowsPerPageChanged($event)"
	>
	</app-pager>    
</footer>