<header>
	<div class="top-top">
		<span class="col-left">
			<h3>Management Tool</h3>
		</span>
		<span class="col-right">
			<button (click)="viewClick('list')" [ngClass]="{ 'selected': 'list' === view }">
				List View
			</button>
			<button (click)="viewClick('tiles')" [ngClass]="{ 'selected': 'tiles' === view }">
				Tail View
			</button>
			<button (click)="addNewClick()" [disabled]="(loading$ | async) || (selectedItem$ | async)">
				Add New
			</button>
		</span>
	</div>
	
	<input
		type="text" 
		placeholder="Find by name..." 
		(input)="filterInput()" 
		[value]="filter$ | async" 
		[(ngModel)]="filterModel"
	/>
</header>

<div class="content">	
	<div class="server-error" *ngIf="error$ | async as error">{{error}}</div>

	<app-loader *ngIf="loading$ | async"></app-loader>	

	<app-noir-items-form 
		*ngIf="selectedItem$ | async as selectedItem"
		[item]="selectedItem" 
		(cancelEditClick)="itemSelectionCanceled()"
		(saveClicked)="saveItem($event)"
	>
	</app-noir-items-form>
	
	<app-noir-items-view 
		[items]="items$ | async"
		[view]="view"
		(itemSelected)="itemSelected($event)"
	>
	</app-noir-items-view>
</div>

<footer> 	
	<app-pager
		*ngIf="(loading$ | async) !== true" 
		[pager]="pager$ | async" 
		[options]="[4, 5, 10, 20]" 
		(nextPageClick)="nextPageClick()"
		(prevPageClick)="prevPageClick()" 
		(rowsPerPageChanged)="rowsPerPageChanged($event)"
	>
	</app-pager>    
</footer>